/* Styles pour le titre du site */
h1 a {
    color: black; /* Couleur noire */
    font-weight: bold; /* Texte en gras */
    text-decoration: none; /* Pas de soulignement */
}

/* Styles pour les sous-titres */
h5 {
    font-family: Starling, Times New Roman, serif;
}

/* Styles pour le centrage du titre */
.center-title {
    text-align: center;
}

/* Styles pour les conteneurs d'images */
.image-container {
    margin-bottom: 80px; /* Ajoutez l'espace souhaité ici */
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Styles pour les titres d'images */
.image-title {
    font-size: 14px;
    margin-top: 5px;
    color: #333;
}

/* Styles pour l'effet de survol des images */
.image:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

/* Styles pour les colonnes */
.col {
    margin-left: 80px;
}

/* Styles pour le footer */
footer {
    text-align: center;
}

/* Styles pour les paragraphes */
p {
    color: black;
}

/* Styles pour le corps de la page */
body {
    padding-top: 70px; /* Ajoutez une marge au corps pour ne pas cacher le contenu sous la barre de navigation */
}

/* Styles pour la barre de navigation fixe en haut */
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

/* Styles pour masquer la barre de navigation */
.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s;
}

/* Styles pour afficher la barre de navigation */
.visible {
    transform: translateY(0);
    transition: transform 0.3s;
}

/* Styles pour les liens du menu de navigation */
.nav-item a.nav-link {
    transition: color 0.3s, background-color 0.3s;
}

/* Styles pour les liens du menu de navigation au survol */
.nav-item a.nav-link:hover {
    color:rgb(153, 119, 143); /* Couleur au survol */
    background-color: transparent; /* Arrière-plan au survol */
}

/* Styles pour l'icône du bouton de menu */
.navbar-toggler-icon {
    transition: transform 0.3s;
}

/* Styles pour l'icône du bouton de menu au clic */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(90deg); /* Rotation au clic */
}

/* Styles pour le menu déroulant */
.dropdown-menu {
    transition: opacity 0.3s;
}

/* Styles pour afficher le menu déroulant au survol */
.dropdown:hover .dropdown-menu {
    opacity: 1;
}



/* // Vérifier si la page actuelle est index.html
if (window.location.pathname === '/index.html') {
    // Sélectionnez toutes les images
    const images = document.querySelectorAll('img');

    // Parcourez toutes les images et ajoutez les écouteurs d'événements
    images.forEach(image => {
        const imageLink = image.parentElement;
        const imageTitle = imageLink.nextElementSibling; // Sélectionnez le titre suivant le lien

        // Cachez tous les titres d'images par défaut
        imageTitle.style.opacity = '0'; // Commence avec une opacité de 0

        // Ajouter un écouteur pour afficher le titre quand la souris est dessus
        image.addEventListener('mouseenter', () => {
            imageTitle.style.opacity = '1'; // Augmenter l'opacité pour le faire apparaître en douceur
        });

        // Ajouter un écouteur pour cacher le titre quand la souris quitte l'image
        image.addEventListener('mouseleave', () => {
            imageTitle.style.opacity = '0'; // Réduire l'opacité pour le faire disparaître en douceur
        });

        // Ajouter un écouteur pour rediriger vers le lien de l'image quand on clique dessus
        imageLink.addEventListener('click', (event) => {
            event.preventDefault(); // Empêcher le comportement par défaut du lien
            window.location.href = imageLink.href; // Rediriger vers l'URL du lien
        });
    });
}

let prevScrollPos = window.pageYOffset;

window.addEventListener('scroll', () => {
    const currentScrollPos = window.pageYOffset;
    const navbar = document.getElementById('navbar');

    if (prevScrollPos > currentScrollPos) {
        navbar.classList.add('visible');
        navbar.classList.remove('hidden');
    } else {
        navbar.classList.add('hidden');
        navbar.classList.remove('visible');
    }

    prevScrollPos = currentScrollPos;
});

document.addEventListener('DOMContentLoaded', function () {
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,
        'albumLabel': 'Image %1 sur %2', // Personnalisez le libellé de l'album si nécessaire
        'positionFromTop': 50, // Ajustez la distance du titre par rapport au haut de la fenêtre
        'alwaysShowNavOnTouchDevices': true, // Activez les flèches de navigation sur les appareils tactiles
        'showImageNumberLabel': false, // Désactivez l'affichage du numéro de l'image
        'fadeDuration': 300, // Personnalisez la durée de l'animation de fondu
        'imageFadeDuration': 300, // Personnalisez la durée de l'animation de fondu de l'image

        // Personnalisez la fonction qui obtient le titre de l'image
        'imageTitle': function (currentImage, container) {
            return currentImage.dataset.title;
        }
    });
}); */
